<div class="footer">
  <ul class="useful-links">
    <h3>USEFUL LINKS</h3>
    <li>
      <a routerLink="seller-auth">Become a Seller</a>
    </li>
    <li>
      <a href="">Polices</a>
    </li>
    <li>
      <a href="">Terms and Conditions</a>
    </li>
    <li>
      <a href="">Help Center</a>
    </li>
    <li>
      <a href="">News</a>
    </li>

    <li>
      <a href="">Sitemap</a>
    </li>
    <li>
      <a href="">FAQ</a>
    </li>
  </ul>

  <ul class="contact">
    <h3>CONTACT INFORMATION</h3>
    <li>
      <a >101,siddharth apartment jaipur</a>
    </li>
    <li>
      <a >+91 9351303055</a>
    </li>
    <li>
      <a >contact@gmail.com</a>
    </li>
    <li>
      <a >Mon - Sun / 9:00AM - 8:00PM</a>
    </li>
    <li>
      <a >Routes to us</a>
    </li>

    <li>
      <a href="">Sitemap</a>
    </li>
    <li>
      <a href="">FAQ</a>
    </li>
  </ul>

  <br class="break-line">

  <p>© 2023 E-comme Website</p>

</div>