<div class="product-list-wrapper">
  <h1> Products List</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of productList">
      <div class="product-item">
        <img src="{{item.image}}" alt="">
        <div class="product-details">
          <h6 class="name-head">{{item.name}}</h6>
          <div class="product-price">
            <h6>Price:{{item.price}}</h6>
          </div>
          <div class="product-color">
            <h6>Color:{{item.color}}</h6>
          </div>
        </div>
        <div class="example-flex-container" class="product-footer">
          <div class="example-button-container">
            <button (click)="deleteProduct(item.id)" mat-fab color="accent"
              aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <a routerLink="/seller-update-product/{{item.id}}">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>edit</mat-icon>
              </button>
            </a>
            <div class="example-button-container">
              <a routerLink="/details/{{item.id}}">
                <button mat-fab color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>visibility</mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>