<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />
    <div class="signup">
      <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input
          type="text"
          class="form-input"
          placeholder="Enter Name"
          name="name"
          ngModel
          required=""
        />
        <input
          type="password"
          class="form-input"
          placeholder="Enter Password"
          name="password"
          ngModel
          required=""
        />
        <input
          type="text"
          class="form-input"
          placeholder="Enter Email"
          name="email"
          ngModel
          required
        />
        <button >Sign up</button>
      </form>
    </div>

    <div class="login">
      <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
        <label for="chk" aria-hidden="true">Login</label>
		<p class="error-p">{{ authError }}</p>
        <input
          type="text"
          class="form-input"
          placeholder="Enter Email"
          name="email"
          ngModel
          required
        />
        <input
          type="password"
          class="form-input"
          placeholder="Enter Password"
          name="password"
          ngModel
          required
        />
        <button>Login</button>
      </form>
    </div>
  </div>
</body>

<!-- partial -->
